<div class="zev-kebab-container">
  <button class="zev-kebab-button" (click)="toggle()" type="button" aria-label="Menü öffnen">
    <span class="zev-kebab-button__dot"></span>
    <span class="zev-kebab-button__dot"></span>
    <span class="zev-kebab-button__dot"></span>
  </button>

  <ul class="zev-kebab-menu" [class.zev-kebab-menu--open]="isOpen">
    @for (item of items; track item) {
      <li>
        <button class="zev-kebab-menu__item"
          [class.zev-kebab-menu__item--danger]="item.danger"
          (click)="onItemClick(item.action)"
          type="button">
          @if (item.icon) {
            <app-icon [name]="item.icon"></app-icon>
          }
          {{ item.label | translate }}
        </button>
      </li>
    }
  </ul>
</div>
