<nav class="zev-navbar">
  <div class="zev-navbar__container">
    <h1 class="zev-navbar__title">{{ 'ZEV_MANAGEMENT' | translate }}</h1>

    <button class="zev-hamburger" (click)="toggleMenu()" [class.active]="isMenuOpen" aria-label="Menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>

    <ul class="zev-navbar__menu" [class.zev-navbar__menu--open]="isMenuOpen">
      <li>
        <a routerLink="/upload" routerLinkActive="zev-navbar__link--active" class="zev-navbar__link"
          (click)="closeMenu()">
        {{ 'MESSWERTE_UPLOAD' | translate }}</a>
      </li>
      <li>
        <a routerLink="/einheiten" routerLinkActive="zev-navbar__link--active" class="zev-navbar__link"
          (click)="closeMenu()">
        {{ 'EINHEITEN_VERWALTUNG' | translate }}</a>
      </li>
      <li>
        <a routerLink="/solar-calculation" routerLinkActive="zev-navbar__link--active" class="zev-navbar__link"
          (click)="closeMenu()">
        {{ 'SOLAR_DISTRIBUTION' | translate }}</a>
      </li>
      <li>
        <a routerLink="/chart" routerLinkActive="zev-navbar__link--active" class="zev-navbar__link"
          (click)="closeMenu()">
        {{ 'MESSWERTE_GRAFIK' | translate }}</a>
      </li>
      <li>
        <a routerLink="/statistik" routerLinkActive="zev-navbar__link--active" class="zev-navbar__link"
          (click)="closeMenu()">
        {{ 'STATISTIK' | translate }}</a>
      </li>
      <li>
        <a routerLink="/rechnungen" routerLinkActive="zev-navbar__link--active" class="zev-navbar__link"
          (click)="closeMenu()">
        {{ 'RECHNUNGEN' | translate }}</a>
      </li>
      <li>
        <a routerLink="/tarife" routerLinkActive="zev-navbar__link--active" class="zev-navbar__link"
          (click)="closeMenu()">
        {{ 'TARIFE' | translate }}</a>
      </li>
      <li>
        <a routerLink="/translations" routerLinkActive="zev-navbar__link--active" class="zev-navbar__link"
          (click)="closeMenu()">
        {{ 'TRANSLATION_EDITOR' | translate }}</a>
      </li>
      <li>
        <button (click)="switchLanguage()" class="zev-navbar__link">
          {{ currentLang === 'de' ? 'EN' : 'DE' }}
        </button>
      </li>
      <li>
        <button (click)="logout()" class="zev-navbar__link">
          {{ 'LOGOUT' | translate }}
        </button>
      </li>
      @if (userDisplayName) {
        <li class="zev-navbar__user">
          <span class="zev-navbar__username">{{ userDisplayName }}</span>
        </li>
      }
    </ul>
  </div>
</nav>