server:
  port: 8081

spring:
  application:
    name: admin-service
  boot:
    admin:
      client:
        url: http://admin-service:8081
        instance:
          prefer-ip: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    env:
      show-values: ALWAYS
    configprops:
      show-values: ALWAYS
    health:
      show-details: ALWAYS

logging:
  level:
    de.codecentric.boot.admin: DEBUG
